// // Specific CSS for your home-page
// @import "home"



// h1 {
//   margin: 0;
//   color: rgba(240,240,240,.65)
// }

// h1 {
//   margin: 0;
//   color: rgba(240,240,240,.65)
// }


.background{
  background-image: url(zeitgeistimage.jpg);
}

html {
  overflow-y:scroll;
  scroll-behavior:smooth;
  font-size:16px;
  }

.slogan {
  font-family: inter;
  color: rgb(179, 179, 202);
  font-size: medium;

}
  .home_title {
    font-family: inter;
    color: rgba(218, 218, 242, 0.8);
    font-size: larger;
    lighting-color: #eee;
    // text-shadow:
    // 0.07em 0 rgb(218, 218, 242),
    // 0 0.07em rgb(218, 218, 242),
    // -0.07em 0 rgb(218, 218, 242),
    // 0 -0.07em rgb(218, 218, 242);
  }

  body {
  margin:0;
  padding:0;
  background:#000;
  color:#fff;
  font-family: inter;
  font-weight:400;
  line-height:1;
  -moz-text-size-adjust:none;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  -webkit-tap-highlight-color:transparent;
  }

  html, body {font-size: clamp(1rem, 0.5rem, 4rem);}

  p {line-height:normal;font-size:1.25em;}

  .background {
  z-index: -1;
  position: fixed;
  top:0;bottom:0;left:0;right:0;
  width: 100%;
  height: 100%;
  transition:background-color .4s;
  background-size:90em auto;
  background-position: top center;
  background-repeat:no-repeat;
  background-color:#000;
  }


  header .contain {
  display:flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width:64em;margin:auto;
  }

  header {
  padding:1rem;
  background:rgba(255,255,255,.25);
  }

  nav ul {
  margin:0;
  padding:0;
  display:flex;
  align-items: center;
  }
  nav li {margin:0 .5em;
  display: flex;
      align-items: center;}
  nav li:first-child {margin-left:0;}
  nav li:last-child {margin-right:0;}



  header h2 {font-size:1.5em;font-weight:normal;letter-spacing:.125em;
  margin:.25em 0;
  }

  nav a {color:#fff;text-decoration:none;transition:color .4s;
  padding:1em 0;}

  nav .profile a {padding:0;}

  nav a:hover {color:#31485c;}

  .weather-icon {font-size:1.75em;}

  .profile img {width:3em;height:3em;border-radius:50%;}


  .search {
      display: flex;
      align-items: center;
      justify-content: center;
      margin:2em auto;
      border-radius: 12px;

  }

  .search form {margin:0;padding:0;display:flex;}

  .search input,
  .search button {
  font-size:1.75em;padding:.25em;border-radius:.25em;appearance:none;
  border: 1px solid #999;
      box-shadow: 0.5em 0.5em 0.5em rgba(0,0,0,.15),
    inset 0.125em 0.125em 0.5em rgba(0,0,0,.15);
  }

  .search button {box-shadow: 0.5em 0.5em 0.5em rgb(179, 179, 202);
  background-color:#31485c;
  color: rgb(179, 179, 202);
  font-family:inter;
  }

  .search input {width:100%;border-radius: .25em 0 0 .25em;}
  .search button {border-radius: 0 .25em .25em 0;transition:background-color .15s;
  }
  .search button:hover {background-color:#666;}

  .main-contain {
  text-align:center;
  margin:auto;max-width:64em;}
  h1 {font-size:2.5em;line-height:normal;font-weight:normal;margin:1em 1rem;}
  p {margin:1em 1rem;}


  .card-list {
  text-align:left;
  margin:2em 1rem;padding:0;
  list-style-type:none;
  display:grid;
      grid-template-columns: repeat(auto-fill, minmax(12em, 1fr));
      grid-gap: 1em;
  }
  .card {background:#eee;color:#333;overflow:auto;border-radius:.25em;box-shadow:.25em .25em .5em rgba(0,0,0,.25);}
  .card h3 {margin:1em 1rem; font-size:1.25em;font-weight:normal;}
  .card p {font-size:1em;}
  .card img {width:100%; height: 191px; object-fit: cover;}

  .img-container {
      position: relative;
      padding-bottom: 65%;
      height: 0;
      max-width: 100%;
      width: 100%;
      overflow: hidden;
    }

  .col-sm-8 {
    width: 85%;
  }

  .mapboxgl-canvas {
    width: 925px;
  }

  .map {
    justify-content: center;
  }



  footer {background:#000;color:#fff;text-align:center;}
  footer p {margin:1em 1rem;}


  .socialmedia {display:flex;list-style:none;justify-content: space-evenly;max-width:20em;margin:1rem auto;padding:0;}
  .socialmedia svg {width:3em;height:3em;}

  @media only screen and (max-width:520px){
  .search {font-size:12px;}
  }

  .weather {font-weight:bold;}


  #rectangle {
    border-radius: 18px;
    border: 1px solid rgba(0, 0, 0, 0.00);
    background: rgba(0, 0, 0, 0.26);
  }


  .btn {
    height: auto;
    width: 30%;
    flex-shrink: 0;
    margin-top: 35px;
    background-color: rgba(234, 231, 216, 0.9);
    box-shadow: 0 17px 50px 0 rgba(0,0,0,0.23);
    text-align: center;
  }

  .img {
    width: 1000;
  }

  .container {
    border: 3px solid #ccc;
    width: 26em;
    font-size: 14px;
    background-color: rgba(247, 247, 247, 0.70);
    border-radius: 18px;
    p{font-family: inter;
      color: #000;
     }
  }

  .userprofile {
    h1{margin-top: 1px;
      margin-bottom: 2px;
    }

  }

  .imgprofile {
    img{margin-top: 2%;
      padding-bottom: 10px;
    }
  }

  .home_title {
    margin-bottom: 5px;
  }

  .btn-ghost {
    color: #505050;
    border: 1px solid #4A4A4A;
    padding: 8px 24px;
    border-radius: 50px;
    font-weight: lighter;
    opacity: 0.6;
    transition: opacity 0.3s ease;

    height: auto;
    width: 40%;
    flex-shrink: 0;
    margin-top: 35px;
    text-align: center;
  }

  .btn-ghost:hover {
    opacity: 3;
  }
