<footer>


<ul class="socialmedia">
<li><a href="#0"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path d="M18.244 2.25h3.308l-7.227 8.26 8.502 11.24H16.17l-5.214-6.817L4.99 21.75H1.68l7.73-8.835L1.254 2.25H8.08l4.713 6.231zm-1.161 17.52h1.833L7.084 4.126H5.117z" fill="#fff"></path></svg></a>

<li><a href="#0">
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14222 14222">
<path d="M14222 7111c0,-3927 -3184,-7111 -7111,-7111 -3927,0 -7111,3184 -7111,7111 0,3549 2600,6491 6000,7025l0 -4969 -1806 0 0 -2056 1806 0 0 -1567c0,-1782 1062,-2767 2686,-2767 778,0 1592,139 1592,139l0 1750 -897 0c-883,0 -1159,548 -1159,1111l0 1334 1972 0 -315 2056 -1657 0 0 4969c3400,-533 6000,-3475 6000,-7025z" fill="#1977F3" class="thecir"/>
<path  d="M9879 9167l315 -2056 -1972 0 0 -1334c0,-562 275,-1111 1159,-1111l897 0 0 -1750c0,0 -814,-139 -1592,-139 -1624,0 -2686,984 -2686,2767l0 1567 -1806 0 0 2056 1806 0 0 4969c362,57 733,86 1111,86 378,0 749,-30 1111,-86l0 -4969 1657 0z" fill="#FEFEFE" class="thef"/>
</svg></a>

<li><a href="#0">
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 264.58 264.58">
  <defs>
    <radialGradient xlink:href="#instac" id="rG1064" cx="17.29" cy="104.78" fx="17.29" fy="104.78" r="132.29" gradientTransform="matrix(-1.207 .376 -.168 -.54 80.43 128.9)" gradientUnits="userSpaceOnUse"/>
    <radialGradient xlink:href="#instaa-4" id="rG1070" gradientUnits="userSpaceOnUse" gradientTransform="matrix(0 -1.596 1.694 0 685.97 287.64)" cx="-40.92" cy="-359.93" fx="-40.92" fy="-359.93" r="132.29"/>
    <radialGradient xlink:href="#instad" id="rG1104" cx="349.53" cy="219.49" fx="349.53" fy="219.49" r="132.29" gradientTransform="matrix(-1.23 .347 -.25 -.886 746.83 265.3)" gradientUnits="userSpaceOnUse"/>
    <radialGradient xlink:href="#lG2485" id="rG1167" gradientUnits="userSpaceOnUse" gradientTransform="matrix(.331 -.57 .743 .431 428.8 526.9)" cx="43.64" cy="-401.23" fx="43.64" fy="-401.23" r="132.29"/>
    <linearGradient id="instad">
      <stop offset="0" stop-color="#ff005f"/>
      <stop offset="1" stop-color="#fc01d8"/>
    </linearGradient>
    <linearGradient id="instac">
      <stop offset="0" stop-color="#780cff"/>
      <stop offset=".19" stop-color="#780cff" stop-opacity="1"/>
      <stop stop-color="#820bff" offset="1" stop-opacity="0"/>
    </linearGradient>
    <linearGradient id="instaa-4">
      <stop offset="0" stop-color="#fc0" stop-opacity="1"/>
      <stop offset=".12" stop-color="#fc0" stop-opacity="1"/>
      <stop offset=".57" stop-color="#fe4a05" stop-opacity="1"/>
      <stop offset=".69" stop-color="#ff0f3f" stop-opacity="1"/>
      <stop offset="1" stop-color="#fe0657" stop-opacity="0"/>
    </linearGradient>
    <linearGradient id="lG2485">
      <stop offset="0" stop-color="#fc0" stop-opacity="1"/>
      <stop offset="1" stop-color="#fc0" stop-opacity="0"/>
    </linearGradient>
  </defs>
  <g transform="translate(-6.05 -68.04)">
    <g>
      <path d="M138.35 68.04c-35.93 0-40.44.15-54.55.8-14.08.64-23.7 2.87-32.1 6.14a64.78 64.78 0 0 0-23.44 15.24 64.89 64.89 0 0 0-15.27 23.41c-3.28 8.41-5.51 18.02-6.15 32.09-.63 14.1-.8 18.6-.8 54.51 0 35.9.17 40.4.8 54.5C7.5 268.8 9.73 278.4 13 286.8a64.77 64.77 0 0 0 15.26 23.42 64.78 64.78 0 0 0 23.43 15.26c8.41 3.26 18.03 5.5 32.11 6.14 14.11.64 18.62.8 54.55.8 35.93 0 40.42-.16 54.53-.8 14.09-.65 23.71-2.88 32.13-6.14a64.73 64.73 0 0 0 23.42-15.26 64.89 64.89 0 0 0 15.27-23.42c3.25-8.4 5.48-18.01 6.14-32.08.64-14.1.8-18.6.8-54.5s-.16-40.4-.8-54.5c-.66-14.08-2.9-23.69-6.14-32.1a64.88 64.88 0 0 0-15.27-23.41 64.66 64.66 0 0 0-23.43-15.24c-8.43-3.27-18.05-5.5-32.14-6.15-14.1-.64-18.6-.8-54.54-.8zm-11.87 23.82h11.87c35.32 0 39.51.13 53.46.76 12.9.59 19.9 2.74 24.56 4.55a40.91 40.91 0 0 1 15.2 9.89 41.02 41.02 0 0 1 9.9 15.2c1.81 4.65 3.97 11.65 4.56 24.54.63 13.93.77 18.12.77 53.4s-.14 39.47-.77 53.4c-.59 12.89-2.75 19.89-4.56 24.54a40.87 40.87 0 0 1-9.9 15.19 40.91 40.91 0 0 1-15.2 9.88c-4.66 1.82-11.66 3.97-24.56 4.56-13.95.63-18.14.77-53.46.77s-39.51-.14-53.46-.77c-12.9-.6-19.9-2.75-24.56-4.56a40.98 40.98 0 0 1-15.21-9.89 40.97 40.97 0 0 1-9.9-15.2c-1.82-4.65-3.97-11.64-4.56-24.53-.63-13.94-.76-18.12-.76-53.42s.13-39.47.76-53.4c.59-12.9 2.74-19.89 4.56-24.55a40.96 40.96 0 0 1 9.9-15.2 41.06 41.06 0 0 1 15.2-9.9C65 95.32 72 93.17 84.9 92.58c12.2-.55 16.94-.72 41.6-.74zm82.49 21.95a15.87 15.87 0 1 0-.02 31.74 15.87 15.87 0 0 0 .02-31.75zm-70.62 18.53a67.92 67.92 0 0 0-67.94 67.9 67.9 67.9 0 0 0 67.94 67.86 67.9 67.9 0 0 0 67.93-67.87 67.9 67.9 0 0 0-67.93-67.89zm0 23.83a44.08 44.08 0 0 1 44.1 44.06 44.08 44.08 0 0 1-44.1 44.07 44.08 44.08 0 0 1-44.1-44.07 44.08 44.08 0 0 1 44.1-44.06z" fill="url(#rG1104)" stroke-width=".36"/>
      <path d="M138.35 68.04c-35.93 0-40.44.15-54.55.8-14.08.64-23.7 2.87-32.1 6.14a64.78 64.78 0 0 0-23.44 15.24 64.89 64.89 0 0 0-15.27 23.41c-3.28 8.41-5.51 18.02-6.15 32.09-.63 14.1-.8 18.6-.8 54.51 0 35.9.17 40.4.8 54.5C7.5 268.8 9.73 278.4 13 286.8a64.77 64.77 0 0 0 15.26 23.42 64.78 64.78 0 0 0 23.43 15.26c8.41 3.26 18.03 5.5 32.11 6.14 14.11.64 18.62.8 54.55.8 35.93 0 40.42-.16 54.53-.8 14.09-.65 23.71-2.88 32.13-6.14a64.73 64.73 0 0 0 23.42-15.26 64.89 64.89 0 0 0 15.27-23.42c3.25-8.4 5.48-18.01 6.14-32.08.64-14.1.8-18.6.8-54.5s-.16-40.4-.8-54.5c-.66-14.08-2.9-23.69-6.14-32.1a64.88 64.88 0 0 0-15.27-23.41 64.66 64.66 0 0 0-23.43-15.24c-8.43-3.27-18.05-5.5-32.14-6.15-14.1-.64-18.6-.8-54.54-.8zm-11.87 23.82h11.87c35.32 0 39.51.13 53.46.76 12.9.59 19.9 2.74 24.56 4.55a40.91 40.91 0 0 1 15.2 9.89 41.02 41.02 0 0 1 9.9 15.2c1.81 4.65 3.97 11.65 4.56 24.54.63 13.93.77 18.12.77 53.4s-.14 39.47-.77 53.4c-.59 12.89-2.75 19.89-4.56 24.54a40.87 40.87 0 0 1-9.9 15.19 40.91 40.91 0 0 1-15.2 9.88c-4.66 1.82-11.66 3.97-24.56 4.56-13.95.63-18.14.77-53.46.77s-39.51-.14-53.46-.77c-12.9-.6-19.9-2.75-24.56-4.56a40.98 40.98 0 0 1-15.21-9.89 40.97 40.97 0 0 1-9.9-15.2c-1.82-4.65-3.97-11.64-4.56-24.53-.63-13.94-.76-18.12-.76-53.42s.13-39.47.76-53.4c.59-12.9 2.74-19.89 4.56-24.55a40.96 40.96 0 0 1 9.9-15.2 41.06 41.06 0 0 1 15.2-9.9C65 95.32 72 93.17 84.9 92.58c12.2-.55 16.94-.72 41.6-.74zm82.49 21.95a15.87 15.87 0 1 0-.02 31.74 15.87 15.87 0 0 0 .02-31.75zm-70.62 18.53a67.92 67.92 0 0 0-67.94 67.9 67.9 67.9 0 0 0 67.94 67.86 67.9 67.9 0 0 0 67.93-67.87 67.9 67.9 0 0 0-67.93-67.89zm0 23.83a44.08 44.08 0 0 1 44.1 44.06 44.08 44.08 0 0 1-44.1 44.07 44.08 44.08 0 0 1-44.1-44.07 44.08 44.08 0 0 1 44.1-44.06z" fill="url(#rG1070)" stroke-width=".36"/>
      <path d="M138.35 68.04c-35.93 0-40.44.15-54.55.8-14.08.64-23.7 2.87-32.1 6.14a64.78 64.78 0 0 0-23.44 15.24 64.89 64.89 0 0 0-15.27 23.41c-3.28 8.41-5.51 18.02-6.15 32.09-.63 14.1-.8 18.6-.8 54.51 0 35.9.17 40.4.8 54.5C7.5 268.8 9.73 278.4 13 286.8a64.77 64.77 0 0 0 15.26 23.42 64.78 64.78 0 0 0 23.43 15.26c8.41 3.26 18.03 5.5 32.11 6.14 14.11.64 18.62.8 54.55.8 35.93 0 40.42-.16 54.53-.8 14.09-.65 23.71-2.88 32.13-6.14a64.73 64.73 0 0 0 23.42-15.26 64.89 64.89 0 0 0 15.27-23.42c3.25-8.4 5.48-18.01 6.14-32.08.64-14.1.8-18.6.8-54.5s-.16-40.4-.8-54.5c-.66-14.08-2.9-23.69-6.14-32.1a64.88 64.88 0 0 0-15.27-23.41 64.66 64.66 0 0 0-23.43-15.24c-8.43-3.27-18.05-5.5-32.14-6.15-14.1-.64-18.6-.8-54.54-.8zm-11.87 23.82h11.87c35.32 0 39.51.13 53.46.76 12.9.59 19.9 2.74 24.56 4.55a40.91 40.91 0 0 1 15.2 9.89 41.02 41.02 0 0 1 9.9 15.2c1.81 4.65 3.97 11.65 4.56 24.54.63 13.93.77 18.12.77 53.4s-.14 39.47-.77 53.4c-.59 12.89-2.75 19.89-4.56 24.54a40.87 40.87 0 0 1-9.9 15.19 40.91 40.91 0 0 1-15.2 9.88c-4.66 1.82-11.66 3.97-24.56 4.56-13.95.63-18.14.77-53.46.77s-39.51-.14-53.46-.77c-12.9-.6-19.9-2.75-24.56-4.56a40.98 40.98 0 0 1-15.21-9.89 40.97 40.97 0 0 1-9.9-15.2c-1.82-4.65-3.97-11.64-4.56-24.53-.63-13.94-.76-18.12-.76-53.42s.13-39.47.76-53.4c.59-12.9 2.74-19.89 4.56-24.55a40.96 40.96 0 0 1 9.9-15.2 41.06 41.06 0 0 1 15.2-9.9C65 95.32 72 93.17 84.9 92.58c12.2-.55 16.94-.72 41.6-.74zm82.49 21.95a15.87 15.87 0 1 0-.02 31.74 15.87 15.87 0 0 0 .02-31.75zm-70.62 18.53a67.92 67.92 0 0 0-67.94 67.9 67.9 67.9 0 0 0 67.94 67.86 67.9 67.9 0 0 0 67.93-67.87 67.9 67.9 0 0 0-67.93-67.89zm0 23.83a44.08 44.08 0 0 1 44.1 44.06 44.08 44.08 0 0 1-44.1 44.07 44.08 44.08 0 0 1-44.1-44.07 44.08 44.08 0 0 1 44.1-44.06z" fill="url(#rG1064)" stroke-width=".36"/>
      <path d="M138.35 68.04c-35.93 0-40.44.15-54.55.8-14.08.64-23.7 2.87-32.1 6.14a64.78 64.78 0 0 0-23.44 15.24 64.89 64.89 0 0 0-15.27 23.41c-3.28 8.41-5.51 18.02-6.15 32.09-.63 14.1-.8 18.6-.8 54.51 0 35.9.17 40.4.8 54.5C7.5 268.8 9.73 278.4 13 286.8a64.77 64.77 0 0 0 15.26 23.42 64.78 64.78 0 0 0 23.43 15.26c8.41 3.26 18.03 5.5 32.11 6.14 14.11.64 18.62.8 54.55.8 35.93 0 40.42-.16 54.53-.8 14.09-.65 23.71-2.88 32.13-6.14a64.73 64.73 0 0 0 23.42-15.26 64.89 64.89 0 0 0 15.27-23.42c3.25-8.4 5.48-18.01 6.14-32.08.64-14.1.8-18.6.8-54.5s-.16-40.4-.8-54.5c-.66-14.08-2.9-23.69-6.14-32.1a64.88 64.88 0 0 0-15.27-23.41 64.66 64.66 0 0 0-23.43-15.24c-8.43-3.27-18.05-5.5-32.14-6.15-14.1-.64-18.6-.8-54.54-.8zm-11.87 23.82h11.87c35.32 0 39.51.13 53.46.76 12.9.59 19.9 2.74 24.56 4.55a40.91 40.91 0 0 1 15.2 9.89 41.02 41.02 0 0 1 9.9 15.2c1.81 4.65 3.97 11.65 4.56 24.54.63 13.93.77 18.12.77 53.4s-.14 39.47-.77 53.4c-.59 12.89-2.75 19.89-4.56 24.54a40.87 40.87 0 0 1-9.9 15.19 40.91 40.91 0 0 1-15.2 9.88c-4.66 1.82-11.66 3.97-24.56 4.56-13.95.63-18.14.77-53.46.77s-39.51-.14-53.46-.77c-12.9-.6-19.9-2.75-24.56-4.56a40.98 40.98 0 0 1-15.21-9.89 40.97 40.97 0 0 1-9.9-15.2c-1.82-4.65-3.97-11.64-4.56-24.53-.63-13.94-.76-18.12-.76-53.42s.13-39.47.76-53.4c.59-12.9 2.74-19.89 4.56-24.55a40.96 40.96 0 0 1 9.9-15.2 41.06 41.06 0 0 1 15.2-9.9C65 95.32 72 93.17 84.9 92.58c12.2-.55 16.94-.72 41.6-.74zm82.49 21.95a15.87 15.87 0 1 0-.02 31.74 15.87 15.87 0 0 0 .02-31.75zm-70.62 18.53a67.92 67.92 0 0 0-67.94 67.9 67.9 67.9 0 0 0 67.94 67.86 67.9 67.9 0 0 0 67.93-67.87 67.9 67.9 0 0 0-67.93-67.89zm0 23.83a44.08 44.08 0 0 1 44.1 44.06 44.08 44.08 0 0 1-44.1 44.07 44.08 44.08 0 0 1-44.1-44.07 44.08 44.08 0 0 1 44.1-44.06z" fill="url(#rG1167)" stroke-width=".36"/>
    </g>
  </g>
</svg></a>

</ul>

<p>
&copy; 2023 Jana Tuscher, Danny Todd, Othmane Assari


</footer>
