<div class="navbar_mobile d-flex justify-content-around">
  <div>
    <%= link_to root_path , class: "nav-link" do %>
      <i class="fa-solid fa-house"></i>
    <%end%>
  </div>
  <div>
    <i class="fa-solid fa-envelope"></i>
  </div>
  <div>
    <%= link_to new_market_path , class: "nav-link" do %>
      <i class="fa-solid fa-plus"></i>
    <%end%>
  </div>
  <div>




  <% if user_signed_in?%>
    <%= link_to user_path(current_user) , class: "nav-link" do %>
      <i class="fa-solid fa-user"></i>
    <%end%>
  <%end%>
  </div>
</div>

<%# <header>
  <div class="contain">
    <h2>ZeitGeist</h2>
      <nav>
        <ul>
          <li><a href="#0">Home</a>
          <li><a href="#0">Messages</a>
          <li class="weather"><span class="weather-icon">⛅</span> 20&deg;&nbsp;C
          <li class="profile"><a href="#0"><img src="https://kitt.lewagon.com/placeholder/users/ssaunier" width="720" height="720" alt="Profile"></a>
        </ul>
      </nav>
  </div>
</header> %>
