<div class="marketcard">
  <div class="info">
    <h2 class="text_color"><%= market.name %></h2>
    <p class="address"><%= market.address %></p>
    <p class="descript"><%= market.description %></p>
  </div>
  <%= link_to "directions", "https://maps.google.com/maps?q=#{market.address}" %>
</div>
