.marketcard{
  width: auto;
  height: auto;
  flex-shrink: 0;
  border-radius: 12px;
  background: #FFF;
  color: black;
  text-align: left;
  margin-top: 25px;
}

.marketimage{
  border-radius: 18px;
  height: 200px;
  width: 200px;
}

.createnew{
  border-radius: 18px;
  background: rgba(48, 48, 48, 0.7);
  height: auto;
  font-family: inter;
  box-shadow: inset;
  flex-shrink: 0;
  padding: 10px, 10px;
  display: flexbox;
  margin: 10px;
}

.spacing{
  padding-bottom: 20px;
  text-align: center;
}

.aligning{
  padding-top: 20px;
}

.paddingform{
  margin-bottom: 10px;
  padding-top: 10px;
  padding-left: 8px;
  padding-right: 8px;
  font-size: small;
  color: grey;
  text-shadow: 0 0 black;
}

.returnbtn{
  text-align: center;
  padding: 10px;
}

.font{
  padding-top: 20px;
  font-family: inter;
  text-align: center;
  text-shadow: #3d3d3d;
}

.paddedarea{
  padding-bottom: 15px;
  text-align: center;
}

.btnsmyl{
  background-color: rgba(255, 254, 205, 0.664);
  border-radius: 8px;
  height: 25px;
  color:rgb(0, 0, 0);
  margin: 7px, 7px;
  font-family: inter;
}

.padaform{
  padding-inline-start: 50px;
}

h3{
  padding-left: 25px;
  margin-bottom: 10px;
}

h1{
  text-align: center;
}

.coloringfonts{
  color: #3d3d3d;
  font-family: inter;
}

.padding{
  text-align: center;
  color:#3d3d3d;
  padding-bottom: 20px;
}

.form-group {
  margin-bottom: 12px;
}

.padthis{
  margin-top: 30px;
}

.scrollbar{
  max-height: 400px;
  overflow-y: auto;
}

.container {
  background-color: rgba(247, 247, 247, 0.292);
  height: 550px;
  margin-top: 20px;
  margin-bottom: 20px;
  overflow-y: auto;
  overflow-x: auto;
  scroll-behavior: smooth;
  justify-content: center;
}

.card{
  justify-content: center !important;
}

* {
  box-sizing: border-box;
}

body {
  font-family: inter;
}

/* Remove extra left and right margins, due to padding in columns */
.row { margin: 0 -5px; }

.card {
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
  border-radius: 18px;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

.responsive-image{
  width: 100%;
  object-fit: cover;
  height: 191px;
}

.form-group {
  margin-bottom: 12px;
}
