.marketcard{
  width: auto;
  height: auto;
  flex-shrink: 0;
  border-radius: 12px;
  background: #FFF;
  color: black;
  display: flex;
  text-align: left;
  margin-top: 25px;
}


.marketimage{
  border-radius: 18px;
  height: auto;
}


.img src{
  height: auto;
}
