

<div class="card mb-3" style="max-width: 500px;">
  <div class="row no-gutters">
    <div class="col-md-3-my-3">
      <% @markets.each do |m| %>
       <div class="card-body">
        <h5 class="card-title"> <%= m.name %> </h5>
        <p > <%= m.description%></p>
        <p class="text-muted"> <%= m.address%> </p>
      </div>
    </div>
     <%end%>
  </div>
</div>
