<div class="card" style="width: 80%;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <% @markets.each do |m| %>
    <h5 class="card-title"> <%= m.name %></h5>
    <p class="card-text"> <%= m.address %></p>
  <% end %>
  </div>

  <ul class="list-group list-group-flush">
    <li class="list-group-item"> description </li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">directions </a>
  </div>
</div>
