


<div class="createnew">
<h1 class="home_title"> <strong> ZEITGEIST </strong> </h1>
  <div class="cards mt-3">
    <% @market.reviews.each do |review| %>
      <h2><%=review.comment%></h2>
      <p><%=review.rating%></p>
    <% end %>
  </div>


    <div>
        <%= link_to markets_path(@market) , class: "btn-ghost" do %>
          Go back to the Market
        <%end%>
      </div>
  </div>
